In [1]:
from datetime import datetime
import random
import re
import requests
import time

import numpy as np
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
# load the HTML content from url
base_url = "https://www.kiwoko.com"
dogs_search_url = base_url + "/servicios/kiwokoadopta/animal/buscar/Perro"

In [3]:
# Set up Chrome options
chrome_options = Options()
chrome_options.add_argument("--headless")  # Run without a GUI

# Create and initialize the Chrome driver
driver = webdriver.Chrome(
    service=Service(ChromeDriverManager().install()),
    options=chrome_options
)
driver.get(dogs_search_url)
wait = WebDriverWait(driver, 10)

# Wait for the cookie consent popup and reject all cookies
element = wait.until(EC.element_to_be_clickable((By.ID, "onetrust-reject-all-handler")))
element.click()

In [4]:
# Load all dog cards by clicking the "Show More" button
dog_entries = []
retries_left = 5
while True:
    try:
        # Get the current page source
        wait = WebDriverWait(driver, 10)
        content = driver.page_source

        # parse the HTML content using BeautifulSoup
        dogs_list = BeautifulSoup(content, "html.parser")
        new_dog_entries = dogs_list.select_one("#petSearch").select_one(".petContainer").find_all("div", recursive=False)

        # Check if new entries have been loaded
        if len(new_dog_entries) == len(dog_entries):
            if retries_left > 0:
                print(f"No new dog entries found. Retrying... ({retries_left} retries left)")
            else:
                retries_left -= 1
                print("No new dog entries found. Stopping the scraping process.")
                break
        else:
            # Reset retries if new entries are found
            retries_left = 5

            # Add new dog entries to the list
            dog_entries = new_dog_entries
            print(f"Found {len(dog_entries)} dog entries...")

        # Click the "Show More" button
        element = wait.until(EC.element_to_be_clickable((By.ID, "showMorePets")))
        driver.execute_script("arguments[0].click();", element)

        # Wait to avoid being blocked
        time.sleep(5 + random.random())

    except Exception as e:
        print("An error occurred:", e)
        break

# Print the number of dog entries found so far
print(f"Total dog entries found: {len(dog_entries)}")

Found 9 dog entries...
Found 18 dog entries...
Found 27 dog entries...
Found 36 dog entries...
Found 45 dog entries...
Found 54 dog entries...
Found 63 dog entries...
Found 72 dog entries...
Found 81 dog entries...
Found 90 dog entries...
Found 99 dog entries...
Found 108 dog entries...
Found 117 dog entries...
Found 126 dog entries...
Found 135 dog entries...
Found 144 dog entries...
Found 153 dog entries...
Found 162 dog entries...
Found 171 dog entries...
Found 180 dog entries...
Found 189 dog entries...
Found 198 dog entries...
Found 207 dog entries...
Found 216 dog entries...
Found 225 dog entries...
Found 234 dog entries...
Found 243 dog entries...
Found 252 dog entries...
Found 261 dog entries...
Found 270 dog entries...
Found 279 dog entries...
Found 288 dog entries...
Found 297 dog entries...
Found 306 dog entries...
Found 315 dog entries...
Found 324 dog entries...
Found 333 dog entries...
Found 342 dog entries...
Found 351 dog entries...
Found 360 dog entries...
Found 369 dog entries...
Found 378 dog entries...
Found 387 dog entries...
Found 396 dog entries...
Found 405 dog entries...
Found 414 dog entries...
Found 423 dog entries...
Found 432 dog entries...
Found 441 dog entries...
Found 450 dog entries...
Found 459 dog entries...
Found 468 dog entries...
Found 477 dog entries...
Found 486 dog entries...
Found 495 dog entries...
Found 504 dog entries...
Found 513 dog entries...
Found 522 dog entries...
Found 531 dog entries...
Found 540 dog entries...
Found 549 dog entries...
Found 558 dog entries...
Found 567 dog entries...
Found 576 dog entries...
Found 585 dog entries...
Found 594 dog entries...
Found 603 dog entries...
Found 612 dog entries...
Found 621 dog entries...
Found 630 dog entries...
Found 639 dog entries...
Found 648 dog entries...
Found 657 dog entries...
Found 666 dog entries...
Found 675 dog entries...
Found 684 dog entries...
Found 693 dog entries...
Found 702 dog entries...
Found 711 dog entries...
Found 720 dog entries...
Found 729 dog entries...
No new dog entries found. Retrying... (5 retries left)
Found 738 dog entries...
Found 747 dog entries...
Found 756 dog entries...
Found 765 dog entries...
Found 774 dog entries...
Found 783 dog entries...
Found 792 dog entries...
Found 801 dog entries...
Found 810 dog entries...
Found 819 dog entries...
Found 828 dog entries...
Found 837 dog entries...
Found 846 dog entries...
Found 855 dog entries...
Found 864 dog entries...
Found 873 dog entries...
Found 882 dog entries...
Found 891 dog entries...
Found 900 dog entries...
Found 909 dog entries...
Found 918 dog entries...
Found 927 dog entries...
Found 936 dog entries...
Found 945 dog entries...
Found 954 dog entries...
Found 963 dog entries...
Found 972 dog entries...
Found 981 dog entries...
Found 990 dog entries...
Found 999 dog entries...
Found 1008 dog entries...
Found 1017 dog entries...
Found 1026 dog entries...
Found 1035 dog entries...
Found 1044 dog entries...
Found 1053 dog entries...
Found 1062 dog entries...
Found 1071 dog entries...
Found 1080 dog entries...
Found 1089 dog entries...
Found 1098 dog entries...
Found 1107 dog entries...
Found 1116 dog entries...
Found 1125 dog entries...
Found 1134 dog entries...
Found 1143 dog entries...
Found 1152 dog entries...
Found 1161 dog entries...
Found 1170 dog entries...
Found 1179 dog entries...
Found 1188 dog entries...
Found 1197 dog entries...
Found 1206 dog entries...
Found 1215 dog entries...
Found 1224 dog entries...
Found 1233 dog entries...
Found 1242 dog entries...
Found 1251 dog entries...
Found 1260 dog entries...
Found 1269 dog entries...
Found 1278 dog entries...
Found 1287 dog entries...
Found 1296 dog entries...
Found 1305 dog entries...
Found 1314 dog entries...
Found 1323 dog entries...
Found 1332 dog entries...
Found 1341 dog entries...
Found 1350 dog entries...
Found 1359 dog entries...
Found 1368 dog entries...
Found 1377 dog entries...
Found 1386 dog entries...
Found 1395 dog entries...
Found 1404 dog entries...
Found 1413 dog entries...
Found 1422 dog entries...
Found 1423 dog entries...
An error occurred: Message:

Total dog entries found: 1423

In [5]:
# shuffle the dog entries to randomize the order
random.shuffle(dog_entries)

# Extract the dogs information from each entry
dogs_dataset = {}
for current_dog in dog_entries:
    current_dog_info = {}

    # Get the URL of the dog's information page
    dog_info_url = base_url + current_dog.select_one("a").get("href")

    # Get the dog ID and name
    dog_id = dog_info_url.split("/")[-1]
    current_dog_info["name"] = current_dog.select_one(".petName").text.strip()

    # Get the dog gender
    dog_gender_icon_name = current_dog.select_one("img").get("src")
    if re.search("man", dog_gender_icon_name) is not None:
        current_dog_info["gender"] = "Macho"
    elif re.search("female", dog_gender_icon_name) is not None:
        current_dog_info["gender"] = "Hembra"
    else:
        current_dog_info["gender"] = None

    dog_age, dog_size = None, None
    for info in current_dog.find_all("p"):

        # Get the dog age
        if info.text.startswith("Edad:"):
            dog_age = int(info.text.split()[1].strip())

            if info.text.strip().endswith("meses"):
                # Convert months to years
                dog_age = round(dog_age / 12, ndigits=2)

            current_dog_info["age"] = dog_age

        # Get the dog size
        elif info.text.startswith("Tama침o:"):
            dog_size = info.text.split(": ")[1].strip()

            if dog_size == "Toy":
                dog_size = "Enano"
            elif dog_size == "S/P":
                dog_size = None

            current_dog_info["size"] = dog_size

    # Wait to avoid being blocked
    time.sleep(5 + random.random())

    try:
        response = requests.get(dog_info_url)
        response.raise_for_status()  # Raise an error for bad responses
        html_content = response.text

    except requests.HTTPError as e:
        print(f"Failed to retrieve the webpage. Status code: {e.response.status_code}")
        continue

    else:
        dog_extra_info = BeautifulSoup(html_content, "html.parser")

        current_dog_info["urgent_adoption"] = dog_extra_info.find("div", class_="urgentChip") is not None

        for data_item in dog_extra_info.find_all("div", class_="petDataItem"):
            data_item_info = data_item.find_all("p")

            if data_item_info[0].text.strip() == "Raza":
                current_dog_info["breed"] = data_item_info[1].text.strip()

            elif data_item_info[0].text.strip() == "Provincia":
                current_dog_info["province"] = data_item_info[1].text.strip()

            elif data_item_info[0].text.strip() == "Puedo viajar para adopci칩n":
                current_dog_info["can_travel"] = True if data_item_info[1].text.strip() == "S칤" else False

            elif data_item_info[0].text.strip() == "Vacunado":
                current_dog_info["is_vaccinated"] = True if data_item_info[1].text.strip() == "S칤" else False

            elif data_item_info[0].text.strip() == "Desparasitado":
                current_dog_info["is_dewormed"] = True if data_item_info[1].text.strip() == "S칤" else False

            elif data_item_info[0].text.strip() == "Sano":
                current_dog_info["is_healthy"] = True if data_item_info[1].text.strip() == "S칤" else False

            elif data_item_info[0].text.strip() == "Esterilizado":
                current_dog_info["is_sterilized"] = True if data_item_info[1].text.strip() == "S칤" else False

            elif data_item_info[0].text.strip() == "Identificado":
                current_dog_info["is_identified"] = True if data_item_info[1].text.strip() == "S칤" else False

            elif data_item_info[0].text.strip() == "Microchip":
                current_dog_info["has_microchip"] = True if data_item_info[1].text.strip() == "S칤" else False

            elif data_item_info[0].text.strip() == "Pasaporte":
                current_dog_info["has_passport"] = True if data_item_info[1].text.strip() == "S칤" else False

            elif data_item_info[0].text.strip() == "Perros":
                current_dog_info["good_with_children"] = True if data_item_info[1].text.strip() == "S칤" else False

            elif data_item_info[0].text.strip() == "Gatos":
                current_dog_info["good_with_cats"] = True if data_item_info[1].text.strip() == "S칤" else False

            elif data_item_info[0].text.strip() == "Ni침os":
                current_dog_info["good_with_dogs"] = True if data_item_info[1].text.strip() == "S칤" else False

        if (personalities := dog_extra_info.find("div", class_="personalities")) is not None:
            for personality in personalities.find_all("p"):
                if personality.text.strip() == "Cari침oso":
                    current_dog_info["is_affectionate"] = True

                elif personality.text.strip() == "Hiperactivo":
                    current_dog_info["is_hyperactive"] = True

                elif personality.text.strip() == "Miedoso":
                    current_dog_info["is_fearful"] = True

                elif personality.text.strip() == "Sedentario":
                    current_dog_info["is_sedentary"] = True

                elif personality.text.strip() == "Sociable":
                    current_dog_info["is_sociable"] = True

                elif personality.text.strip() == "Tranquilo":
                    current_dog_info["is_calm"] = True

                elif personality.text.strip() == "Necesita cuidados veterinarios":
                    current_dog_info["needs_vet_care"] = True

        if (description_1 := dog_extra_info.select_one("#collapseSeven")) is not None:
            current_dog_info["description_1"] = re.sub(r"\s+", " ", description_1.find("p", class_="petDescription").text).strip()
        else:
            current_dog_info["description_1"] = None

        if (description_2 := dog_extra_info.select_one("#collapsefour")) is not None:
            current_dog_info["description_2"] = re.sub(r"\s+", " ", description_2.find("p", class_="petDescription").text).strip()
        else:
            current_dog_info["description_2"] = None

        current_dog_info["img_url"] = base_url + current_dog.find("div", class_="similarPetImage").get("style").split("url('")[1].split("')")[0]

    finally:
        # Add the dog info URL to the current dog's information
        current_dog_info["info_url"] = dog_info_url

        # Update the dataset entry with the new information
        dogs_dataset[dog_id] = current_dog_info

        # print("Dog info:", pd.Series(current_dog_info))
        print(f"{current_dog_info["name"]} has been added to the dataset with ID {dog_id}.")

JACKY has been added to the dataset with ID 12519.
BOMBON has been added to the dataset with ID 10947.
PRISCILA has been added to the dataset with ID 4465.
BORA has been added to the dataset with ID 12713.
COCO has been added to the dataset with ID 12868.
Cora has been added to the dataset with ID 11820.
PERIQUILLA has been added to the dataset with ID 6527.
Chispa has been added to the dataset with ID 1089.
Kiya has been added to the dataset with ID 3832.
PITINGO has been added to the dataset with ID 13008.
游땘 El peque침o MONTY busca hogar has been added to the dataset with ID 9943.
OSCAR has been added to the dataset with ID 10786.
FLECHER has been added to the dataset with ID 6294.
NICO has been added to the dataset with ID 13393.
FREYA has been added to the dataset with ID 4528.
INDIA has been added to the dataset with ID 8299.
TOFFEE has been added to the dataset with ID 6616.
MUFASA has been added to the dataset with ID 3868.
TOGO has been added to the dataset with ID 12457.
Wilma-Abba has been added to the dataset with ID 1766.
MAKI has been added to the dataset with ID 9313.
Valentina has been added to the dataset with ID 6868.
ALB칍NDIGA has been added to the dataset with ID 930.
Bondi has been added to the dataset with ID 11472.
Chara has been added to the dataset with ID 1484.
GORDA has been added to the dataset with ID 754.
Txiki has been added to the dataset with ID 10202.
KUMA has been added to the dataset with ID 13174.
Vuitton has been added to the dataset with ID 9970.
NEPTUNO has been added to the dataset with ID 10649.
Robin has been added to the dataset with ID 13196.
DAMA has been added to the dataset with ID 11645.
CATA has been added to the dataset with ID 934.
Anubis has been added to the dataset with ID 508.
BALA has been added to the dataset with ID 580.
FEDE has been added to the dataset with ID 7474.
COMBO has been added to the dataset with ID 5831.
HAMILTON has been added to the dataset with ID 6500.
Boy has been added to the dataset with ID 11669.
M칈A has been added to the dataset with ID 6445.
Frida has been added to the dataset with ID 1519.
츼ngela has been added to the dataset with ID 1490.
SIMBA has been added to the dataset with ID 6986.
DONATELLO has been added to the dataset with ID 3963.
Mami has been added to the dataset with ID 12439.
Oreo has been added to the dataset with ID 11605.
Bourbon has been added to the dataset with ID 5126.
PAMPA has been added to the dataset with ID 1790.
Chica has been added to the dataset with ID 9524.
Garald has been added to the dataset with ID 9907.
Paquito has been added to the dataset with ID 13229.
MATUSAL칄N has been added to the dataset with ID 653.
Max-Jack has been added to the dataset with ID 11042.
Gorgo침o has been added to the dataset with ID 2337.
Niebla has been added to the dataset with ID 4355.
Lucho has been added to the dataset with ID 13198.
MAX has been added to the dataset with ID 5603.
ELENA has been added to the dataset with ID 910.
BROWNIE has been added to the dataset with ID 11632.
FLOYD has been added to the dataset with ID 1015.
Alani has been added to the dataset with ID 1074.
Cachito has been added to the dataset with ID 10487.
VITA has been added to the dataset with ID 2721.
Sabu has been added to the dataset with ID 1757.
NILO has been added to the dataset with ID 10951.
DARKA has been added to the dataset with ID 10945.
Hutch has been added to the dataset with ID 7109.
Layka has been added to the dataset with ID 9782.
Kira-China has been added to the dataset with ID 1763.
Chico has been added to the dataset with ID 4195.
Hachiko has been added to the dataset with ID 11973.
TOBBIAS has been added to the dataset with ID 13246.
ARYA has been added to the dataset with ID 11831.
Ray has been added to the dataset with ID 1502.
Neera has been added to the dataset with ID 3229.
Keni has been added to the dataset with ID 9526.
MURPHY has been added to the dataset with ID 59.
JALAPE칌O has been added to the dataset with ID 6855.
ULISES has been added to the dataset with ID 3971.
WONDER has been added to the dataset with ID 6185.
ZEUS has been added to the dataset with ID 10698.
Duque has been added to the dataset with ID 3235.
ROCKET has been added to the dataset with ID 4474.
HORUS has been added to the dataset with ID 12077.
ELI츼N has been added to the dataset with ID 13054.
RON has been added to the dataset with ID 160.
MANOLI has been added to the dataset with ID 5854.
CORT칄S has been added to the dataset with ID 892.
IRIS has been added to the dataset with ID 1716.
Centella has been added to the dataset with ID 1861.
Roc has been added to the dataset with ID 9913.
Bady has been added to the dataset with ID 1449.
PAPI has been added to the dataset with ID 13431.
BRENDA has been added to the dataset with ID 5316.
Barry has been added to the dataset with ID 9704.
Mago has been added to the dataset with ID 9787.
AQUILES has been added to the dataset with ID 10611.
Ursula has been added to the dataset with ID 11594.
CANDELA has been added to the dataset with ID 6019.
Lenny has been added to the dataset with ID 1768.
TURCO busca hogar, 5 a침os esperando has been added to the dataset with ID 9033.
NERON has been added to the dataset with ID 495.
BUIKA has been added to the dataset with ID 12741.
Mart칤n has been added to the dataset with ID 1853.
Taco-Ralf has been added to the dataset with ID 1559.
BRUC has been added to the dataset with ID 12873.
Caf칠 has been added to the dataset with ID 12780.
MERLIN has been added to the dataset with ID 9120.
MACA has been added to the dataset with ID 12709.
Neula has been added to the dataset with ID 7107.
DENVER has been added to the dataset with ID 9375.
MAI TAY has been added to the dataset with ID 5369.
GINA has been added to the dataset with ID 11847.
MEL has been added to the dataset with ID 9613.
BROWN has been added to the dataset with ID 9018.
TARA has been added to the dataset with ID 12842.
Etana has been added to the dataset with ID 1456.
JANE has been added to the dataset with ID 11284.
THOR has been added to the dataset with ID 13442.
Tor has been added to the dataset with ID 6870.
PANCHO has been added to the dataset with ID 4521.
JUNIOR has been added to the dataset with ID 3753.
ARGOS has been added to the dataset with ID 11122.
SAID has been added to the dataset with ID 13270.
Zabo has been added to the dataset with ID 10614.
DAVID has been added to the dataset with ID 7047.
LE칍NIDAS has been added to the dataset with ID 1002.
PONGO has been added to the dataset with ID 13362.
ISIDRO has been added to the dataset with ID 6157.
Escabechina has been added to the dataset with ID 10251.
MILI has been added to the dataset with ID 11266.
To침o has been added to the dataset with ID 11857.
MAY has been added to the dataset with ID 12928.
PELUSA has been added to the dataset with ID 8550.
Bodie has been added to the dataset with ID 9906.
Burni has been added to the dataset with ID 306.
Horus has been added to the dataset with ID 12998.
LUCHADOR has been added to the dataset with ID 8387.
Kiara has been added to the dataset with ID 1482.
BELLOTA has been added to the dataset with ID 7709.
TARZ츼N has been added to the dataset with ID 11283.
Reina has been added to the dataset with ID 7935.
MANOLO has been added to the dataset with ID 5830.
Sauron has been added to the dataset with ID 10257.
ROBIN has been added to the dataset with ID 5714.
Teleno has been added to the dataset with ID 8821.
ESAM has been added to the dataset with ID 978.
Hans has been added to the dataset with ID 9908.
CHACAL has been added to the dataset with ID 10421.
Morgana has been added to the dataset with ID 1455.
Marte has been added to the dataset with ID 10325.
JOREK has been added to the dataset with ID 10650.
PERLITA has been added to the dataset with ID 10633.
MERLIN has been added to the dataset with ID 7458.
Peter has been added to the dataset with ID 9729.
츼lamo has been added to the dataset with ID 11763.
TRIANA has been added to the dataset with ID 11867.
Noah has been added to the dataset with ID 414.
SARITA has been added to the dataset with ID 11467.
SHUMA has been added to the dataset with ID 13253.
Kuki has been added to the dataset with ID 11325.
COQUE has been added to the dataset with ID 5608.
DULCE has been added to the dataset with ID 12565.
NENA has been added to the dataset with ID 6857.
Romeo has been added to the dataset with ID 3304.
SALOME has been added to the dataset with ID 4522.
Billy has been added to the dataset with ID 790.
TRUFA has been added to the dataset with ID 11551.
SCAR has been added to the dataset with ID 11537.
CORF칔 has been added to the dataset with ID 3959.
Travolta has been added to the dataset with ID 12619.
LUCKY has been added to the dataset with ID 9366.
游비 El peque침o DEXTER buscar sof치 para el solito has been added to the dataset with ID 9609.
Louis has been added to the dataset with ID 9969.
Yacko has been added to the dataset with ID 8258.
PANDERETA has been added to the dataset with ID 12900.
Magia has been added to the dataset with ID 1491.
Morita has been added to the dataset with ID 803.
Trash has been added to the dataset with ID 11193.
DORA has been added to the dataset with ID 12139.
Sena has been added to the dataset with ID 8406.
Kiara has been added to the dataset with ID 10696.
Wilson has been added to the dataset with ID 5759.
Lola has been added to the dataset with ID 330.
DAYA has been added to the dataset with ID 10954.
ZORRO has been added to the dataset with ID 7039.
Selam has been added to the dataset with ID 908.
Princesa has been added to the dataset with ID 9733.
Apolo has been added to the dataset with ID 4832.
BRUC has been added to the dataset with ID 12280.
Mora has been added to the dataset with ID 1857.
NINO has been added to the dataset with ID 7457.
Salsa has been added to the dataset with ID 6863.
KUKY has been added to the dataset with ID 8620.
Lecco has been added to the dataset with ID 1772.
Marley has been added to the dataset with ID 123.
Yanko has been added to the dataset with ID 6112.
SUAH has been added to the dataset with ID 11013.
JOCKER has been added to the dataset with ID 309.
NEO has been added to the dataset with ID 5771.
Iberia has been added to the dataset with ID 1770.
Amador has been added to the dataset with ID 1515.
MAT칈AS has been added to the dataset with ID 7647.
NESKA has been added to the dataset with ID 12107.
Roly has been added to the dataset with ID 124.
TAMY has been added to the dataset with ID 12541.
Agatha has been added to the dataset with ID 11983.
Calcetines has been added to the dataset with ID 13286.
DANTE has been added to the dataset with ID 9621.
Atenea has been added to the dataset with ID 11668.
CURRETE has been added to the dataset with ID 11379.
DAEMON has been added to the dataset with ID 3625.
ROCKY has been added to the dataset with ID 914.
TOBI has been added to the dataset with ID 12841.
Rigo has been added to the dataset with ID 11123.
Caipiri침a has been added to the dataset with ID 6397.
BALOO has been added to the dataset with ID 9745.
Quim has been added to the dataset with ID 12677.
Sammy has been added to the dataset with ID 5274.
Papel has been added to the dataset with ID 1118.
Mina has been added to the dataset with ID 12095.
Floppy has been added to the dataset with ID 873.
CUZCO has been added to the dataset with ID 13363.
Ron has been added to the dataset with ID 1767.
Rudolf has been added to the dataset with ID 385.
MARIPILI has been added to the dataset with ID 11339.
OREJITAS has been added to the dataset with ID 690.
ILIA has been added to the dataset with ID 10235.
Luna has been added to the dataset with ID 102.
Galceran has been added to the dataset with ID 1121.
Yermen has been added to the dataset with ID 9971.
Iker has been added to the dataset with ID 11974.
Patuka has been added to the dataset with ID 5836.
ROMERO has been added to the dataset with ID 4471.
LILIANA has been added to the dataset with ID 13415.
Lars has been added to the dataset with ID 5995.
BRIN has been added to the dataset with ID 13090.
BIANCA has been added to the dataset with ID 7949.
Chica has been added to the dataset with ID 622.
BILMA has been added to the dataset with ID 6645.
Clara has been added to the dataset with ID 13201.
GOLFO has been added to the dataset with ID 8072.
Do침a Inma has been added to the dataset with ID 1486.
Julio has been added to the dataset with ID 5586.
Denver has been added to the dataset with ID 103.
Ally has been added to the dataset with ID 13293.
MAYA has been added to the dataset with ID 12061.
ARES has been added to the dataset with ID 12635.
JARO has been added to the dataset with ID 6649.
Carlitos has been added to the dataset with ID 1752.
GONI has been added to the dataset with ID 9379.
Bao has been added to the dataset with ID 12905.
Sean has been added to the dataset with ID 1459.
FRANCISCO has been added to the dataset with ID 10422.
Amira has been added to the dataset with ID 10873.
Rover has been added to the dataset with ID 12999.
Wendy has been added to the dataset with ID 6057.
Siva has been added to the dataset with ID 12120.
BARDO has been added to the dataset with ID 6305.
ROCKY has been added to the dataset with ID 11591.
Norma has been added to the dataset with ID 1765.
Chusi has been added to the dataset with ID 9318.
Simona has been added to the dataset with ID 786.
Coco has been added to the dataset with ID 353.
Lando has been added to the dataset with ID 13262.
CHAYANNE has been added to the dataset with ID 13006.
Noa has been added to the dataset with ID 12127.
TUX has been added to the dataset with ID 217.
Pola has been added to the dataset with ID 10808.
MUFASA has been added to the dataset with ID 5141.
DEXTER has been added to the dataset with ID 12811.
Rex has been added to the dataset with ID 1756.
REX has been added to the dataset with ID 2237.
OLIVIA has been added to the dataset with ID 10420.
BARIS has been added to the dataset with ID 12221.
PIRINEA has been added to the dataset with ID 11257.
ANIS has been added to the dataset with ID 9620.
INDY has been added to the dataset with ID 457.
ELLIOT has been added to the dataset with ID 251.
Africa has been added to the dataset with ID 1493.
Hera has been added to the dataset with ID 13143.
Pastora has been added to the dataset with ID 1492.
Leia has been added to the dataset with ID 9530.
BILL has been added to the dataset with ID 339.
NAPOLITANA has been added to the dataset with ID 5833.
LILI has been added to the dataset with ID 8005.
PECA has been added to the dataset with ID 12987.
Oso has been added to the dataset with ID 1513.
HABANA has been added to the dataset with ID 4336.
Dexter has been added to the dataset with ID 382.
Mindy has been added to the dataset with ID 8915.
SHASHA busca nuevo hogar has been added to the dataset with ID 11447.
BELTZA has been added to the dataset with ID 10835.
Aurora has been added to the dataset with ID 80.
Florito has been added to the dataset with ID 12658.
Zoe has been added to the dataset with ID 6866.
GINA has been added to the dataset with ID 12877.
ELMA has been added to the dataset with ID 8712.
THOR has been added to the dataset with ID 5568.
ARES has been added to the dataset with ID 979.
YAYO has been added to the dataset with ID 7038.
VIVIANA has been added to the dataset with ID 246.
ATLAS has been added to the dataset with ID 7648.
Rayhan has been added to the dataset with ID 8429.
ODOY has been added to the dataset with ID 9803.
LOLA has been added to the dataset with ID 6503.
HELA has been added to the dataset with ID 7417.
SOPHIE has been added to the dataset with ID 13242.
ARAMIS has been added to the dataset with ID 13257.
Jimi has been added to the dataset with ID 1856.
PITUFO has been added to the dataset with ID 11258.
MERAKI has been added to the dataset with ID 2970.
Almanzor has been added to the dataset with ID 8819.
M칈A has been added to the dataset with ID 5589.
Moly has been added to the dataset with ID 206.
ZOE has been added to the dataset with ID 502.
ROMAN칈 has been added to the dataset with ID 11554.
Aron has been added to the dataset with ID 10799.
Benji has been added to the dataset with ID 13287.
Coki has been added to the dataset with ID 10223.
Huberto has been added to the dataset with ID 12401.
Thor has been added to the dataset with ID 11359.
Pluto has been added to the dataset with ID 8704.
PUERTO has been added to the dataset with ID 12960.
BUBBA has been added to the dataset with ID 13243.
KOKO has been added to the dataset with ID 2223.
Tulkas has been added to the dataset with ID 5287.
TENDER  solo Barcelona has been added to the dataset with ID 3560.
JAMES DEAN has been added to the dataset with ID 6532.
Alegr칤a has been added to the dataset with ID 1495.
RUBIK has been added to the dataset with ID 581.
TARA has been added to the dataset with ID 5837.
Berto has been added to the dataset with ID 2086.
VALDO has been added to the dataset with ID 11592.
LINDA has been added to the dataset with ID 10588.
Capo has been added to the dataset with ID 452.
ROCKY has been added to the dataset with ID 749.
ELENITA Y MARIQUILLA has been added to the dataset with ID 10272.
SOPHIA has been added to the dataset with ID 11448.
Luna has been added to the dataset with ID 11055.
PUPPY has been added to the dataset with ID 7419.
Senda has been added to the dataset with ID 12488.
ROMEO has been added to the dataset with ID 12039.
ZEUS has been added to the dataset with ID 9297.
Bela has been added to the dataset with ID 9315.
Buddy has been added to the dataset with ID 11901.
BOSQUE has been added to the dataset with ID 6497.
TYSON has been added to the dataset with ID 5857.
Tolby has been added to the dataset with ID 12037.
Zuma has been added to the dataset with ID 1776.
Guso has been added to the dataset with ID 12441.
Trufa has been added to the dataset with ID 864.
Franki has been added to the dataset with ID 11054.
RAYO has been added to the dataset with ID 11843.
NINO has been added to the dataset with ID 12076.
L치tigo has been added to the dataset with ID 2069.
SARABI has been added to the dataset with ID 7693.
VENUS has been added to the dataset with ID 11304.
INDI has been added to the dataset with ID 10581.
CHARLY has been added to the dataset with ID 9242.
Nymeria has been added to the dataset with ID 9794.
BUSSY has been added to the dataset with ID 6646.
KRAY has been added to the dataset with ID 481.
JAKY has been added to the dataset with ID 6846.
MARTA has been added to the dataset with ID 13237.
NANO has been added to the dataset with ID 2058.
GINA has been added to the dataset with ID 998.
TIM칍N has been added to the dataset with ID 5856.
Valkiria has been added to the dataset with ID 851.
TURRON has been added to the dataset with ID 11391.
ALMA has been added to the dataset with ID 6499.
PEPELU has been added to the dataset with ID 12880.
JAVI has been added to the dataset with ID 8653.
ISIS has been added to the dataset with ID 5852.
CHEWBACCA has been added to the dataset with ID 10458.
JAIMIE has been added to the dataset with ID 12282.
TIKO has been added to the dataset with ID 9246.
SORA has been added to the dataset with ID 11833.
TERRY has been added to the dataset with ID 346.
Lirio has been added to the dataset with ID 13187.
AFRICA has been added to the dataset with ID 12251.
Zendaya has been added to the dataset with ID 10972.
FENIX has been added to the dataset with ID 4473.
Claus has been added to the dataset with ID 10493.
Siggy has been added to the dataset with ID 9534.
Peluso has been added to the dataset with ID 8487.
SUINI has been added to the dataset with ID 6501.
ISIDORO has been added to the dataset with ID 7050.
Troska has been added to the dataset with ID 326.
SETH has been added to the dataset with ID 6196.
Darko has been added to the dataset with ID 9737.
HACHE has been added to the dataset with ID 4750.

In [6]:
# Convert the dataset dictionary to a DataFrame and display the first few rows
dogs_df = pd.DataFrame.from_dict(dogs_dataset, orient="index")
dogs_df.head()

,name,gender,age,size,urgent_adoption,breed,province,is_vaccinated,is_dewormed,is_healthy,...,description_1,description_2,img_url,info_url,can_travel,is_calm,needs_vet_care,is_hyperactive,is_fearful,is_sedentary
12519,JACKY,Macho,2.00,Mediano,True,Bret칩n,Madrid,True,True,True,...,JACKY es un bretoncito que nos ha conquistado ...,"Perro joven, alegre y cari침oso",https://www.kiwoko.com/servicios/kiwokoadopta/...,https://www.kiwoko.com/servicios/kiwokoadopta/...,NaN,NaN,NaN,NaN,NaN,NaN
10947,BOMBON,Macho,0.92,Mediano,False,MESTIZO,Madrid,True,True,True,...,"Bomb칩n es un simp치tico cachorro de 8 meses, na...",None,https://www.kiwoko.com/servicios/kiwokoadopta/...,https://www.kiwoko.com/servicios/kiwokoadopta/...,NaN,NaN,NaN,NaN,NaN,NaN
4465,PRISCILA,Hembra,2.00,Grande,False,MASTIN,C칩rdoba,True,True,True,...,"Una belleza de perrita, buena, tierna, sociabl...",None,https://www.kiwoko.com/servicios/kiwokoadopta/...,https://www.kiwoko.com/servicios/kiwokoadopta/...,True,NaN,NaN,NaN,NaN,NaN
12713,BORA,Hembra,0.25,Mediano,False,X Pastor Alem치n,C칩rdoba,True,True,True,...,*BORA* Bora y su hermana son dos beb칠s encanta...,*BORA* Sexo: Hembra Raza: X Pastor Alem치n Fech...,https://www.kiwoko.com/servicios/kiwokoadopta/...,https://www.kiwoko.com/servicios/kiwokoadopta/...,True,NaN,NaN,NaN,NaN,NaN
12868,COCO,Macho,3.00,Grande,False,Mestizo,Barcelona,True,True,True,...,Se encontraba abandonado.,"Coco es un cruce de los m치s bonitos, probablem...",https://www.kiwoko.com/servicios/kiwokoadopta/...,https://www.kiwoko.com/servicios/kiwokoadopta/...,True,NaN,NaN,NaN,NaN,NaN

In [7]:
dogs_df = dogs_df.sort_index()[[
    "name",
    "breed",
    "gender",
    "age",
    "size",
    "province",
    "can_travel",
    "urgent_adoption",
    "needs_vet_care",
    "is_vaccinated",
    "is_dewormed",
    "is_healthy",
    "is_sterilized",
    "is_identified",
    "has_microchip",
    "has_passport",
    "good_with_children",
    "good_with_cats",
    "good_with_dogs",
    "is_affectionate",
    "is_hyperactive",
    "is_fearful",
    "is_sociable",
    "is_calm",
    "is_sedentary",
    "description_1",
    "description_2",
    "img_url",
    "info_url",
]]
dogs_df.head()

,name,breed,gender,age,size,province,can_travel,urgent_adoption,needs_vet_care,is_vaccinated,...,is_affectionate,is_hyperactive,is_fearful,is_sociable,is_calm,is_sedentary,description_1,description_2,img_url,info_url
1001,TIRILLAS,Pitbull,Macho,6.0,Grande,Toledo,NaN,False,NaN,True,...,True,NaN,NaN,True,True,NaN,A este bomb칩n le encontramos junto a sus tres ...,None,https://www.kiwoko.com/servicios/kiwokoadopta/...,https://www.kiwoko.com/servicios/kiwokoadopta/...
1002,LE칍NIDAS,Mestizo,Macho,5.0,Grande,Toledo,NaN,False,NaN,True,...,True,NaN,True,True,True,NaN,Le칩nidas te rescatamos de un s칤ndrome de Noe y...,None,https://www.kiwoko.com/servicios/kiwokoadopta/...,https://www.kiwoko.com/servicios/kiwokoadopta/...
10026,Rex y Chapi,Mestizo y bodeguero,Macho,5.0,Peque침o,Sevilla,True,False,NaN,True,...,True,NaN,NaN,True,NaN,NaN,REX Y CHAPI 游눞 La historia de estos dos bombone...,Activos y cari침osos,https://www.kiwoko.com/servicios/kiwokoadopta/...,https://www.kiwoko.com/servicios/kiwokoadopta/...
1004,SUKO,CRUCE LABRADOR,Macho,3.0,Mediano,Madrid,NaN,False,NaN,True,...,True,NaN,NaN,NaN,NaN,NaN,SUKO es un cruce de labrador nacido en junio d...,None,https://www.kiwoko.com/servicios/kiwokoadopta/...,https://www.kiwoko.com/servicios/kiwokoadopta/...
10059,Le칩n,Mestizo,Macho,5.0,Mediano,C칩rdoba,True,True,NaN,True,...,NaN,NaN,True,NaN,NaN,NaN,LE칍N LLEVA 5 A칌OS EN EL REFUGIO 游땞游눖 Es uno de l...,"Se entrega con chip, pasaporte, vacunas corres...",https://www.kiwoko.com/servicios/kiwokoadopta/...,https://www.kiwoko.com/servicios/kiwokoadopta/...

In [8]:
for col in [
    "can_travel",
    "urgent_adoption",
    "needs_vet_care",
    "is_vaccinated",
    "is_dewormed",
    "is_healthy",
    "is_sterilized",
    "is_identified",
    "has_microchip",
    "has_passport",
    "good_with_children",
    "good_with_cats",
    "good_with_dogs",
    "is_affectionate",
    "is_hyperactive",
    "is_fearful",
    "is_sociable",
    "is_calm",
    "is_sedentary",
]:
    dogs_df[col] = dogs_df[col].replace({np.nan: False}).astype("bool")

/tmp/ipykernel_1002114/3848929760.py:22: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dogs_df[col] = dogs_df[col].replace({np.nan: False}).astype("bool")
/tmp/ipykernel_1002114/3848929760.py:22: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dogs_df[col] = dogs_df[col].replace({np.nan: False}).astype("bool")
/tmp/ipykernel_1002114/3848929760.py:22: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dogs_df[col] = dogs_df[col].replace({np.nan: False}).astype("bool")
/tmp/ipykernel_1002114/3848929760.py:22: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dogs_df[col] = dogs_df[col].replace({np.nan: False}).astype("bool")
/tmp/ipykernel_1002114/3848929760.py:22: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dogs_df[col] = dogs_df[col].replace({np.nan: False}).astype("bool")
/tmp/ipykernel_1002114/3848929760.py:22: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dogs_df[col] = dogs_df[col].replace({np.nan: False}).astype("bool")
/tmp/ipykernel_1002114/3848929760.py:22: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dogs_df[col] = dogs_df[col].replace({np.nan: False}).astype("bool")
/tmp/ipykernel_1002114/3848929760.py:22: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dogs_df[col] = dogs_df[col].replace({np.nan: False}).astype("bool")
/tmp/ipykernel_1002114/3848929760.py:22: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dogs_df[col] = dogs_df[col].replace({np.nan: False}).astype("bool")
/tmp/ipykernel_1002114/3848929760.py:22: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dogs_df[col] = dogs_df[col].replace({np.nan: False}).astype("bool")
/tmp/ipykernel_1002114/3848929760.py:22: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dogs_df[col] = dogs_df[col].replace({np.nan: False}).astype("bool")
/tmp/ipykernel_1002114/3848929760.py:22: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dogs_df[col] = dogs_df[col].replace({np.nan: False}).astype("bool")
/tmp/ipykernel_1002114/3848929760.py:22: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dogs_df[col] = dogs_df[col].replace({np.nan: False}).astype("bool")
/tmp/ipykernel_1002114/3848929760.py:22: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dogs_df[col] = dogs_df[col].replace({np.nan: False}).astype("bool")
/tmp/ipykernel_1002114/3848929760.py:22: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dogs_df[col] = dogs_df[col].replace({np.nan: False}).astype("bool")

In [9]:
for col in ["breed", "province",]:
    dogs_df[col] = dogs_df[col].fillna("Desconocida").astype("category")

In [10]:
# Export the DataFrame to a CSV file
dogs_df.to_csv(f"./kiwoko_dogs_data-{datetime.now().strftime("%Y-%m-%d_%H-%M-%S")}.csv", encoding="utf-8-sig")